{% extends 'layout.html' %}

{% block title %}Add a new plant{% endblock %}

{% block content %}
<h2>Add a New Plant</h2>

<form action="{{ url_for('add_plant') }}" method="POST">
    <div>
        <label for="plant_name">Plant Name:</label>
        <input type="text" id="plant_name" name="plant_name" required>
    </div>

    <div>
        <label for="plant_species">Species:</label>
        <select id="plant_species" name="plant_species" required>
            <option value="" disabled selected>-- Choose a species --</option>

            {% for species in species_list %}
            <option value="{{ species }}">{{ species }}</option>
            {% endfor %}

            <option value="Otros">Others</option>
        </select>
    </div>

    <div>
        <label for="last_watered">Last Watered:</label>
        <input type="date" id="last_watered" name="last_watered" required>
    </div>

    <button type="submit" class="btn">Add Plant</button>
</form>
{% endblock %}