{% extends 'base.html' %}

{% block title %}Editar Perfil{% endblock %}

{% block content %}
<div class="container mt-5">
    <h2>Edit profile</h2>
    <hr>
    <form method="POST" action="{{ url_for('update_profile') }}">
        <div class="mb-3">
            <label for="username" class="form-label">User name</label>
            <input type="text" class="form-control" id="username" name="username" value="{{ user.username }}" required>
        </div>
        <div class="mb-3">
            <label for="email" class="form-label">Email Address</label>
            <input type="email" class="form-control" id="email" name="email" value="{{ user.email }}" required>
        </div>

        <button type="submit" class="btn btn-success">Save Changes</button>
        <a href="{{ url_for('profile') }}" class="btn btn-secondary">Cancel</a>
    </form>
</div>
{% endblock %}