{% extends "layout.html" %}

{% block content %}
<h2>Editar Planta: {{ plant.name }}</h2>

<!-- El formulario envía los datos a la ruta de edición con el ID de la planta -->
<form action="{{ url_for('edit_plant', plant_id=plant._id) }}" method="post">
    <div>
        <label for="plant_name">Nombre de la Planta:</label>
        <!-- El valor del campo se pre-rellena con los datos actuales -->
        <input type="text" id="plant_name" name="plant_name" value="{{ plant.name }}" required>
    </div>
    <div>
        <label for="plant_species">Especie:</label>
        <input type="text" id="plant_species" name="plant_species" value="{{ plant.species }}" required>
    </div>
    <div>
        <label for="last_watered">Fecha del Último Riego:</label>
        <!-- La fecha necesita un formato específico (YYYY-MM-DD) para el input -->
        <input type="date" id="last_watered" name="last_watered" value="{{ plant.last_watered.strftime('%Y-%m-%d') }}"
            required>
    </div>
    <button type="submit" class="btn">Guardar Cambios</button>
</form>
{% endblock %}